/*
* {
    margin: 0;
    padding: 0;
    background: darkcyan;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

 */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 5rem;
}

body {
    color: #ffffff;
    font-family: Arial, serif;
    font-weight: bold;
}

.cat--body {
    background-color: mediumpurple;
}

.main--body {
    background-color: #ffb34f;
}

.newtask--body {
    background: #57a858;
}

.prufa {
    text-transform: capitalize;
}

.habits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goals{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button--add {
    background-color: rebeccapurple;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: calc(0.5rem) 1rem;
    text-decoration: none;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 purple;
}

.button--add--cat {
    background-color: #ffcc5e;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: calc(0.5rem) 1rem;
    text-decoration: none;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #ffa618;
}

.button--logout {
    background-color: rgba(14,10,11,0.38);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: calc(0.25rem) 0.5rem;
    text-decoration: none;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #000000;
}

.button--add--task {
    background-color: rebeccapurple;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.5rem 0.25rem;
    text-decoration: none;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 purple;
    font-size: 0.75rem;
}

.allcat {
    background-color: rgba(14,10,11,0.38);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #000000;
}

.button--category {
    background-color: #ffc564;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #000000;
}

.button--add:hover {
    box-shadow: inset 400px 0 0 0 purple;
}

.button--add--task::content {
    font-size: 0.5rem;
}

.button--add--cat:hover {
    box-shadow: inset 400px 0 0 0 #ffa618;
}

.button--logout:hover {
    box-shadow: inset 400px 0 0 0 #000000;
}

.allcat:hover {
    box-shadow: inset 400px 0 0 0 #000000;
}

.button--add--task:hover {
    box-shadow: inset 400px 0 0 0 purple;
}

.button--category:hover {
    box-shadow: inset 400px 0 0 0 #000000;
}

.habitandgoals {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30%;
    padding-right: 25%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper input {
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid #ffffff;
}

::placeholder {
    color: white;
}

.logintext, textarea {
    background-color: royalblue;
}

.signuptext, textarea {
    background-color: #ff9185;
}

.newcattext, textarea {
    background-color: #36d478;
}

.newhabittext, textarea {
    background-color: #c376d4;
}

.newgoaltext, textarea {
    background-color: #4aaeb7;
}

.newtasktext, textarea {
    background: #418141;
}

input, select, textarea {
    color: white;
}

input {
    border-radius: 3px;
}

.button--submit--login {
    color: white;
    width: 4rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.button--submit--signup {
    color: white;
    width: 4rem;
    background-color: #ff525c;
    border-radius: 5px;
}

.button--submit--newcat {
    background-color: #2fff4b;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: calc(0.25rem) 0.5rem;
    text-decoration: none;
}

.button--submit--habit {
    background-color: #e6b1e4;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

.button--submit--goal {
    background-color: #57dde6;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

.button--submit--task {
    background-color: #59ac59;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

.button--signup {
    background-color: cornflowerblue;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: normal;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
}

.main--table {
    font-size: 1.5rem;
}

.main--table > * {
    margin-right: 0.5rem;
}

.login--body {
    background-color: dodgerblue;
}

.signup--body {
    background-color: indianred;
}

.newcat--body {
    background-color: #8fffab;
}

.newhabit--body {
    background-color: #cd9bd4;
}

.newgoal--body {
    background-color: #47b8ba;
}

.wrongcred--body {
    background: darkslategrey;
}

.error--body {
    background: darkslategrey;
}

.wrapper {
    margin-left: 25%;
    margin-right: 25%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newcatform {
    transform: scale(1.25);
}

progress {
    position: relative;
    width: 10rem;
    height: 1rem;
    background: crimson;
    -webkit-border-radius: 5px;
}

progress::-webkit-progress-value{
    background: #68008c;
}

progress::-webkit-progress-bar {
    background: #d1c3e6;
}



