<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}"></title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <script>

        function onHover(e){
            e.setAttribute("src", '/images/checkedwhite.png');
            e.setAttribute("onmouseover", "this.src='/images/checkedwhite.png';")
            e.setAttribute("onmouseout", "this.src='/images/uncheckedwhite.png';");
        }

        const colors = ['mediumpurple'];
        const random_color = colors[Math.floor(Math.random() * colors.length)];

        function onLoad(){
            document.body.style.backgroundColor = random_color;
        }

    </script>
</head>
<body class="cat--body" onload="onLoad()">
<p><a href="/"><- All Categories</a></p>
<div class="habitandgoals">
<h1 th:text="${category.name}"></h1>
<div class="habits" th:switch="${category.habits}">
    <h2 th:case="null">No habits!</h2>
    <div th:case="*">
        <h2>Habits</h2>
        <div class="table">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Streak length</th>
                <th>Highest streak</th>
                <th>Last date completed</th>
                <th>Done</th>
                <th>Delete</th>
                <th>Date Created</th>
                <th>Total completions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="habit : ${habits}">
                <td th:text="${habit.name}"></td>
                <td th:text="${habit.streak}"></td>
                <td th:text="${habit.highestStreak}"></td>
                <td th:text="${habit.lastDate}"></td>
                <td>
                    <a class="habitdone" th:href="@{/category/{idCat}/updateHabit/{id}(idCat=${category.ID}, id=${habit.ID})}">
                        <div th:if="${habit.habitCompleted}">
                            <img th:src="@{/images/checkedwhite.png}" width="25" height="25"/>
                        </div>
                        <div th:unless="${habit.habitCompleted}">
                            <img th:src="@{/images/uncheckedwhite.png}" onmouseover="onHover(this)" width="25" height="25"/>
                        </div>
                    </a>
                </td>
                <td><a  th:href="@{/category/{idCat}/deleteHabit/{id}(idCat=${category.ID}, id=${habit.ID})}">
                    <img th:src="@{/images/trash.png}" onmouseover="this.src='/images/trashdelete.png';"
                         onmouseout="this.src='/images/trash.png';" width="25" height="25"/></a></td>
                <td th:text="${habit.createdDate}"></td>
                <td th:text="${habit.totalCompletions}"></td>
                <td th:s="${habit.totalCompletions}"></td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="button--add" th:href="@{/addhabit/{id}(id=${category.ID})}">Add a new habit</a> </p>
        </div>
</div>
<div class="goals" th:switch="${goals}">
    <h2 th:case="null">No goals!</h2>
    <div th:case="*">
        <h2>Goals</h2>
        <div class="table">
        <table>
            <thead>
            <tr>
                <th>Completed</th>
                <th>Name</th>
                <th>Due date</th>
                <th>Progress</th>
                <th>Delete</th>
                <th>Add a task</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goal : ${goals}">
                <td><a th:href="@{/category/{idCat}/updateGoal/{id}(idCat=${category.ID}, id=${goal.ID})}">Complete</td>
                <td th:text="${goal.name}"></td>
                <td th:text="${goal.goalDueDate}"></td>
                <td th:text="${goal.goalProgress}"></td>
                <td><a th:href="@{/category/{idCat}/deleteGoal/{id}(idCat=${category.ID},id=${goal.ID})}">
                    <img th:src="@{/images/trash.png}" onmouseover="this.src='/images/trashdelete.png';"
                         onmouseout="this.src='/images/trash.png';" width="25" height="25"/></a>
                </td>
                <td> <a th:href="@{/category/{idCat}/addtask/{id}(idCat=${category.ID}, id=${goal.ID})}">Add a new task</a> </td>
                <table>
                    <tbody>
                    <tr th:each="task : ${goal.tasks}">
                        <td>
                            <ol th:text="${task.getName}"></ol>
                        </td>
                        <td><a th:href="@{/category/{idCat}/updateTask/{id}(idCat=${category.ID}, id=${task.ID})}">Done</a></td>
                        <td><a th:href="@{/category/{idCat}/deleteTask/{id}(idCat=${category.ID}, id=${task.ID})}">
                            <img th:src="@{/images/trash.png}" onmouseover="this.src='/images/trashdelete.png';"
                                 onmouseout="this.src='/images/trash.png';" width="25" height="25"/></a></td>
                        <td th:text="${task.taskCompleted}"></td>
                    </tr>
                    </tbody>
                </table>
            </tr>
            </tbody>
        </table>
        </div>
    <p><a class="button--add" th:href="@{/addgoal/{id}(id=${category.ID})}">Add a new goal</a> </p>
    </div>
</div>
<h3><a href="/">Return to Main</a> </h3> <br>
</div>
</body>
</html>
