<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category.name}"></title>
</head>
<body>
<h1 th:text="${category.name}"></h1>
<div th:switch="${habits}">
    <h2 th:case="null">No habits!</h2>
    <div th:case="*">
        <h2>Habits</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Streak length</th>
                <th>Highest streak</th>
                <th>Last date completed</th>
                <th>Done</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="habit : ${habits}">
                <td th:text="${habit.name}"></td>
                <td th:text="${habit.streak}"></td>
                <td th:text="${habit.highestStreak}"></td>
                <td th:text="${habit.lastDate}"></td>
                <td><a th:href="@{/category/{idCat}/updateHabit/{id}(idCat=${category.ID}, id=${habit.ID})}">Done</a></td>
                <td><a th:href="@{/category/{idCat}/deleteHabit/{id}(idCat=${category.ID}, id=${habit.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/addhabit/{id}(id=${category.ID})}">Add a new habit</a> </p>
</div>
<div th:switch="${goals}">
    <h2 th:case="null">No goals!</h2>
    <div th:case="*">
        <h2>Goals</h2>
        <table>
            <thead>
            <tr>
                <th>Completed</th>
                <th>Name</th>
                <th>Due date</th>
                <th>Progress</th>
                <th>Delete</th>
                <th>Add a task</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goal : ${goals}">
                <td><form th:action="@{/checkbox-altered/{id}(id=${goal.ID})}" method="get">
                    <input name="isChecked" type="checkbox" th:checked="${goal.goalCompleted} ? 'checked'"/>
                    <button type="submit">Submit</button>
                </form></td>
                <td th:text="${goal.name}"></td>
                <td th:text="${goal.goalDueDate}"></td>
                <td th:text="${goal.goalProgress}"></td>
                <td><a th:href="@{/category/{idCat}/deleteGoal/{id}(idCat=${category.ID},id=${goal.ID})}">Delete</a></td>
                <td> <a th:href="@{/addtask/{id}(id=${goal.ID})}">Add a new task</a> </td>
                <table>
                    <tbody>
                    <tr th:each="task : ${goal.tasks}">
                        <td>
                            <ol th:text="${task.getName}"></ol>
                        </td>
                        <td><a th:href="@{/updateTask/{id}(id=${task.ID})}">Done</a></td>
                        <td><a th:href="@{/deleteTask/{id}(id=${task.ID})}">Delete</a></td>
                        <td th:text="${task.taskCompleted}"></td>
                    </tr>
                    </tbody>
                </table>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a th:href="@{/addgoal/{id}(id=${category.ID})}">Add a new goal</a> </p>
</div>
<h3><a href="/">Return to Main</a> </h3>
</body>
</html>