<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="login--body">
<div class="signwrapper">
<h2>Login</h2>
    <form class="signform" action="#" th:action="@{/login}" th:object="${user}" method="post">
        <input class="logintext" type="text" name="username" id="username" placeholder="Username" th:field="*{username}"/>
        <input class="logintext" type="password" name="password" id="password" placeholder="Password" th:field="*{password}"/>
        <input class="button--submit--login" type="submit" value="Login"/>
    </form>
<a class="button--signup" href="/signup">Sign up</a>
</div>
<br>
</body>
</html>