<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<div class="habits">
<div th:switch="${habits}">
    <h2>Habits</h2>
    <h2 th:case="null">No habits!</h2>
    <div th:case="*">
        <table>
            <thead>
            <tr>
                    <th >📇Name</th>
                    <th >💃Streak</th>
                    <th >⭐Highest streak</th>
                    <th >📅Date</th>
                    <th >✅Done/🗑Delete</th>
                    <th >🧮Category</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habit : ${habits}">
                    <td th:text="${habit.name}"></td>
                    <td th:text="${habit.streak}"></td>
                    <td th:text="${habit.highestStreak}"></td>
                    <td th:text="${habit.lastDate}"></td>
                    <td>
                            <span>
                                <a th:href="@{/updateHabit/{id}(id=${habit.ID})}">✅</a>
                            </span>
                        /
                        <span>
                                <a th:href="@{/deleteHabit/{id}(id=${habit.ID})}">🗑</a>
                            </span>
                    </td>
                    <td  th:text="${habit.category}"></td>
                </tr>
            </tbody>
            <tfoot>
            <td>
                <p><a href="/addhabit">Add a new habit</a> </p>
            </td>
            </tfoot>
        </table>
    </div>
</div>
</div>

<div class="goals">
<div th:switch="${goals}">
    <h2 th:case="null">No goals!</h2>
    <div th:case="*">
        <h2>Goals</h2>
        <table>
            <thead>
            <tr>
                <th>Completed</th>
                <th>Name</th>
                <th>Due date</th>
                <th>Progress</th>
                <th>Delete</th>
                <th>Add a task</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goal : ${goals}">
                <td><form th:action="@{/checkbox-altered/{id}(id=${goal.ID})}" method="get">
                    <input name="isChecked" type="checkbox" th:checked="${goal.goalCompleted} ? 'checked'"/>
                    <button type="submit">Submit</button>
                </form></td>
                <td th:text="${goal.name}"></td>
                <td th:text="${goal.goalDueDate}"></td>
                <td th:text="${goal.goalProgress}"></td>
                <td><a th:href="@{/deleteGoal/{id}(id=${goal.ID})}">Delete</a></td>
                <td> <a th:href="@{/addtask/{id}(id=${goal.ID})}">Add a new task</a> </td>

                <ul>
                    <li th:each="task : ${goal.tasks}">
                        <td th:text="${task.name}"></td>
                        <td th:text="${task.taskDueDate}"></td>
                        <td><a th:href="@{/deleteTask/{id}(id=${task.ID})}">Delete</a></td>
                    </li>
                </ul>


            </tr>
            </tbody>
            <tfoot>
            <td>
                <p><a href="/addgoal">Add a new goal</a> </p>
            </td>
            </tfoot>
        </table>
    </div>


    <div class="tasks">
<div th:switch="${tasks}">
    <h2 th:case="null">No tasks!</h2>
    <div th:case="*">
        <h2>All Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Completed</th>
                <th>Due date</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.taskCompleted}"></td>
                <td th:text="${task.taskDueDate}"></td>
                <td th:text="${task.taskDescription}"></td>
            </tr>
            </tbody>

            <tfoot>
            <td>
                <p> <a th:href="@{/addtask/{id}(id=${goal.ID})}">Add a new task</a> </p>
            </td>
            </tfoot>
        </table>
    </div>
</div>
    </div>
</div>
</div>
</body>
</html>
