<!DOCTYPE html>
<html xmlns:th="http://thymelaef.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div th:switch="${habits}">
    <h2 th:case="null">No habits!</h2>
    <div th:case="*">
        <h2>Habits</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Streak length</th>
                    <th>Highest streak</th>
                    <th>Last date completed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habit : ${habits}">
                    <td th:text="${habit.name}"></td>
                    <td th:text="${habit.streak}"></td>
                    <td th:text="${habit.highestStreak}"></td>
                    <td th:text="${habit.lastDate}"></td>
                    <td><a th:href="@{/update/{id}(id=${habit.ID})}">Done</a></td>
                    <td><a th:href="@{/delete/{id}(id=${habit.ID})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addhabit">Add a new habit</a> </p>
</div>
<div th:switch="${goals}">
    <h2 th:case="null">No goals!</h2>
    <div th:case="*">
        <h2>Goals</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Due date</th>
                <th>Completed</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="goal : ${goals}">
                <td th:text="${goal.goalName}"></td>
                <td th:text="${goal.goalCompleted}"></td>
                <td th:text="${goal.goalProgress}"></td>
                <td><a th:href="@{/updateGoal/{id}(id=${goal.ID})}">Completed</a></td>
                <td><a th:href="@{/deleteGoal/{id}(id=${goal.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addgoal">Add a new goal</a> </p>
</div>
<div th:switch="${tasks}">
    <h2 th:case="null">No tasks!</h2>
    <div th:case="*">
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Due date</th>
                <th>Description</th>
                <th>Completed</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskCompleted}"></td>
                <td th:text="${task.taskDueDate}"></td>
                <td th:text="${task.taskDescription}"></td>
                <td><a th:href="@{/updateTask/{id}(id=${task.ID})}">Done</a></td>
                <td><a th:href="@{/deleteTask/{id}(id=${task.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addhabit">Add a new habit</a> </p>
</div>
</body>
</html>