<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Category</title>
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="newcat--body">
<div class="wrapper">
    <h1>New category</h1>
  <form class="newcatform" action="#" th:action="@{/addcategory}" th:object="${category}" method="post">
    <input class ="newcattext" type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <input class="button--submit--newcat" type="submit" value="Add Category">
  </form>
</div>
</body>
</html>