<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Goal</title>
</head>
<body>
<form action="#" th:action="@{/addgoal}" th:object="${goal}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="goalDueDate">Due date:</label>
    <input type="date" th:field="*{goalDueDate}" id="goalDueDate" placeholder="Due date">
    <span th:if="${#fields.hasErrors('goalDueDate')}" th:errors="*{goalDueDate}"></span>
    <input type="submit" value="Add Goal">
</form>

</body>
</html>
