<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Habit</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="newhabit--body">
<div class="wrapper">
<h1>New habit</h1>
    <form class="habitform" action="#" th:action="@{${#httpServletRequest.requestURI}}" th:object="${habit}" method="post">
        <input class ="newhabittext" type="text" th:field="*{name}" id="name" placeholder="Name">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <input class="button--submit--habit" type="submit" value="Add Habit">
    </form>
</div>

</body>
</html>
