<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new task</title>
</head>
<body>
<form action="#" th:action="@{/addtask}" th:object="${task}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="taskDescription">Description:</label>
    <input type="text" th:field="*{taskDescription}" id="taskDescription" placeholder="Description">
    <span th:if="${#fields.hasErrors('taskDescription')}" th:errors="*{taskDescription}"></span>

    <label for="taskDueDate">Due date:</label>
    <input type="date" th:field="*{taskDueDate}" id="taskDueDate" placeholder="Due date">
    <span th:if="${#fields.hasErrors('taskDueDate')}" th:errors="*{taskDueDate}"></span>



    <input type="submit" value="Add Task">
</form>
</body>
</html>