<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="signup--body">
<div class="wrapper">
<h2>Signup</h2>
    <form class="signform" action="#" th:action="@{/signup}" th:object="${user}" method="post">
        <input class="signuptext" type="text" name="username" id="username" placeholder="Username" th:field="*{username}"/>
        <input class="signuptext" type="password" name="password" id="password" placeholder="Password" th:field="*{password}"/>
        <input class="button--submit--signup" type="submit" value="Sign up"/>
    </form>
</div>
</body>
</html>